<footer class="footer">
  <p>© 2025 Henrique Tostes</p>
  <div class="footer-links">
    <a href="https://ko-fi.com/I2I31IJ3HP" target="_blank">☕ Buy Me a Coffee</a>
    <a href="https://www.linkedin.com/in/henrique-tostes/" target="_blank">LinkedIn</a>
    <a href="https://htostes.gumroad.com" target="_blank">Gumroad</a>
    <a href="https://medium.com/@htostes" target="_blank">Medium</a>
    <a href="https://www.upwork.com/freelancers/~017a4613f3fe8608d3?mp_source=share" target="_blank">Upwork</a>
  </div>
</footer>