<header>
  <nav class="navbar">
    <div class="logo">Henrique Tostes</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li class="dropdown">
        <a href="/projects/">Projects ▾</a>
        <ul class="dropdown-menu">
          <li><a href="/projects/#open-source">Open Source</a></li>
          <li><a href="/projects/#extensions">Extensions</a></li>
          <li><a href="/projects/#upwork">Upwork Projects</a></li>
        </ul>
      </li>
      <li><a href="/articles/">Articles</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>